:root {
  --background: #101010;  /* black */
  --main-text: #EBEBEB;   /* white */
  --primary: #254441;     /* green */
  --secondary: #2f2317;   /* brown */
  --accents: #BFA75A;     /* gold */
  --panel-bg: #2a2a2a;    /* panels background */
  --input-bg: #404040;    /* input background */
  --dividers: #6E6E6E;    /* gray */
  --warning: #6D0000;     /* red */

}