.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.title {
  font-size: 1.4rem;
  color: var(--main-text);
}

.subtitle {
  font-size: 0.9rem;
  color: var(--accents);
  opacity: 0.75;
}
