html,
body,
#root {
  height: 100%;
  background-color: var(--background);
  overflow: autoscroll;
  margin: 0 auto;
  justify-content: center;

}

body {
  font-family: system-ui, sans-serif;
  background: transparent;
  position: relative;
  justify-content: center;
}

